.page-de-commande {
  height: calc(100vh - 60px);
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.panier-content {
  height: 100%;
  width: 100%;
  /* background-color: cadetblue; */

  grid-column: 1/3;
}

.order-details {
  /* height: calc(100% - 10px); */
  height: 86vh;
  position: fixed;
  width: 33%;
  right: 20px;
  /* width: calc(100% - 10px); */
  background-color: #fefefe;
  margin: 10px 10px 10px 0;

  border: solid #000 0.5px;
  border-radius: 4px;

  grid-column: 3;
}
