.side-menu {
  position: fixed;
  background-color: #51ae00;
  height: 100vh;
  top: 0;
  transition: all 0.3s;
  z-index: 1;
}

.side-menu:hover {
  width: 10vw;
}

.side-menu-content {
  overflow: hidden;
  max-width: 100%;
  height: 100%;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */

  padding: 33px 0;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 80px;
}

.side-menu-content > h1 {
  font-weight: bolder;
  font-size: 24px;
  color: #fff;
}

.panier {
  width: 100%;
  padding: 0 15px;
  color: #fff;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.panier .li {
  display: flex;
  justify-content: space-between;
}

.total {
  justify-self: end;
}

.buy-button {
  width: 90%;
  height: 40px;
  background-color: #ffffff99;
  font-weight: bold;
  transition: all 0.8s;

  justify-self: center;
}

.buy-button:hover {
  background-color: #fff;
  color: #51ae00;
  border: solid #ffffffcc 8px;
  transition: all 0.2s;
}

.open-close-sidebar-button {
  position: absolute;
  top: 100px;
  background-color: #51ae00;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 2px;
  transition: all 0.3s;
  border: none;
  color: #fff;
}
.open-close-sidebar-button:focus {
  outline: none;
}
.open-close-sidebar-button:hover {
  border: none;
}
